<div class="task-container" [ngClass]="{'task-completed':  taskCompletedFlag}">

  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div class="main-info">
      <div class="task-list">
        <div class="form-group">
          <select class="form-control" formControlName="taskListName">
            <option *ngFor="let taskList of taskLists" [ngValue]="taskList.listID">{{taskList.listName}}</option>
          </select>
        </div>
      </div>

      <div class="task">
        <div class="form-group">
          <input type="text" class="form-control" id="taskDescription" formControlName="taskDescription" placeholder="New Task">
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button class="btn submit-btn" type="submit" [disabled]="addTaskForm.invalid">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </form>

  <div class="completed-task-icon" *ngIf="taskCompletedFlag">
    <i class="fas fa-check fa-5x"></i>
    <!-- <i class="fas fa-spinner fa-spin fa-5x"></i> -->
  </div>
</div>
