<div class="menu-outer-container" [ngClass]="{'active-menu-outer-container': menuFlag}">
  <div class="menu-container" [ngClass]="{'active-menu-container': menuFlag}">

    <div class="profile-container">
      <div class="user-img-container">
        <img [src]="user.photoUrl" alt="User Image" class="user-img">
      </div>
      <div class="user-detail-container">
        <h6 class="user-name">{{user.userName}}</h6>
        <a class="user-email">{{user.email}}</a>
      </div>
      <div class="sign-out-btn-container">
        <a class="sign-out-btn" (click)="onSignOutBtn()">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
      <div class="clear"></div>
    </div>

    <div class="list-container">
      <ul class="lists">
        <li class="list-item" *ngFor="let list of lists" [ngClass]="{'active-list-item': list.list_id === activeListId}" (click)="onMakeListActiveBtn(list.list_id)">{{list.list_name}}</li>
      </ul>
    </div>
    <div class="add-new-list-btn-container">
      <a class="add-new-list-btn">
        <i class="fas fa-plus"></i>Add a new list
      </a>
    </div>
    <div class="close-menu-btn-container">
      <a class="close-menu-btn" (click)="onCloseMenuBtn()">
        <i class="fas fa-times-circle"></i>
      </a>
    </div>
  </div>
</div>
