<div class="navigation">

    <div class="menu-container">
      <ul class="menu-items">
        <li class="menu-item" routerLink="/addTask" routerLinkActive="routerLinkActive">
          <i class="fas fa-plus"></i>
          <a>Add a Task</a>
        </li>
        <li class="menu-item" routerLink="/taskList" routerLinkActive="routerLinkActive">
          <i class="fas fa-tasks"></i>
          <a>My Tasks</a>
        </li>
        <li class="menu-item" routerLink="/profile" routerLinkActive="routerLinkActive">
          <i class="fas fa-user"></i>
          <a>Profile</a>
        </li>
        <li class="menu-item">
          <i class="fas fa-sign-out-alt"></i>
          <a>Sign Out</a>
        </li>
      </ul>
    </div>

    <div class="logo">
      <span>TD</span>
    </div>
  </div>
