<div class="side-menu">

    <div class="menu-container">
      <ul class="menu-items">
        <li class="menu-item">
          <i class="fas fa-plus"></i>
          <a href="">Add a Task</a>
        </li>
        <li class="menu-item">
          <i class="fas fa-tasks"></i>
          <a href="">My Tasks</a>
        </li>
        <li class="menu-item">
          <i class="fas fa-user"></i>
          <a href="">Profile</a>
        </li>
        <li class="menu-item">
          <i class="fas fa-sign-out-alt"></i>
          <a href="">Sign Out</a>
        </li>
      </ul>
    </div>
  
    <div class="logo">
      <span>TD</span>
    </div>
  </div>