<form [formGroup]="editListNameForm">
<div class="heading-container">

    <input type="text" class="heading" [ngClass]="{'editableField': editMode}" value="{{taskList.listName}}"
    [readonly]="!editMode" formControlName="editListName">

    <button class="edit-btn" (click)="onEditListName()">
      <i class="fas" [ngClass]="{'fa-pen': !editMode, 'fa-check': editMode}"></i>
    </button>

  </div>
</form>

<div class="tasks">
  <ng-container *ngFor="let task of tasks">
    <div class="task" *ngIf="task.listID === taskList.listID" [ngClass]="{'task-completed' : task.completedStatus}">
      <div class="task-complete-btn" (click)="onMarkTaskComplete(task)">
        <div class="checkbox"></div>
      </div>
      <div class="task-description">
        <p>{{task.taskName}}</p>
      </div>
    </div>
  </ng-container>
</div>
