<div class="create-list-container">

  <div class="header">
    <a class="close-btn" (click)="onCloseBtn()">
      <i class="fas fa-times"></i>
    </a>
    <h3 class="heading">Create new list</h3>
    <button class="done-btn" [ngClass]="{'done-btn-enabled': createListForm.valid}" (click)="onSubmitCreateList()" [disabled]="createListForm.invalid">Done</button>
  </div>
  <div class="create-list-form-container">
    <form [formGroup]="createListForm" (submit)="onSubmitCreateList()">
      <div class="form-group">
        <input type="text" name="listName" formControlName="listName" class="form-control" placeholder="Enter list title" autocomplete="off">
      </div>
    </form>
  </div>
</div>
