.upper-menu {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background: #8581BA;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 9999;
}
.upper-menu .menu-toggle {
    display: inline;
    padding: 0 40px;
}
.upper-menu .menu-toggle-btn i {    
    color: #FFFFFF;
    font-size: 25px;    
    line-height: 40px;
}
.upper-menu .logo { 
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
    color: #ffffff;
    font-weight: lighter;
    line-height: 40px;
    padding: 0;
    padding-left: 15px; 
    text-align: center;       
}