<div class="task-list-container">
  <div class="task-heading">
    <h3>{{listName}}</h3>
  </div>
  <div class="task-container">
    <app-task-list-item *ngFor="let task of (tasks | sort : 'dateCreated')" [task]="task"></app-task-list-item>
  </div>
  <div class="completed-task-container">
    <div class="completed-task-heading">
      <a (click)="onToggleCompletedTask()">
        Completed Tasks ({{completedTasks.length}})
        <i class="fas fa-angle-down" [ngClass]="{'active-completed-task-container-icon': completedTasks.length !== 0 && showCompletedTaskFlag}"></i>
      </a>
    </div>
    <div class="completed-tasks">
      <ng-container *ngFor="let task of (completedTasks | sort : 'dateCompleted')">
        <app-task-list-item [task]="task" *ngIf="showCompletedTaskFlag"></app-task-list-item>
      </ng-container>
    </div>
  </div>
  <div class="no-pending-task-container" *ngIf="tasks.length === 0 && !showCompletedTaskFlag">
    <img src="../../../assets/NoPendingTaskBackground.png" alt="No Task Pending">
    <h5>Nicely Done!</h5>
    <p>You've finished all your tasks. <br>Take a second to recharge and start again.</p>
  </div>
</div>
